*{
    box-sizing: border-box;
}

body{
    background: #e0e0e0;
    -webkit-font-smoothing: antialiased;
}

div,footer,section,header,article,nav,aside{
    font-family: ".PingFang-SC-Light",微软雅黑,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #616161;
}